# import libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

import matplotlib.pyplot as plt
import seaborn as sb

# preprocessing

In [6]:
train = pd.read_csv('adult.data.csv')
test = pd.read_csv('adult.test.csv')

In [7]:
data = pd.concat([train,test])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 0 to 16280
Data columns (total 15 columns):
age              48842 non-null int64
workclass        48842 non-null object
weight           48842 non-null int64
education        48842 non-null object
education-num    48842 non-null int64
status           48842 non-null object
occupation       48842 non-null object
relationship     48842 non-null object
race             48842 non-null object
sex              48842 non-null object
gain             48842 non-null int64
loss             48842 non-null int64
hpw              48842 non-null int64
country          48842 non-null object
target           48842 non-null object
dtypes: int64(6), object(9)
memory usage: 4.3+ MB

age -> cont <br>
workclass -> cat<br>
weight -> int <br>
education -> cat  drop it<br>
education-num -> int <br>
status -> ordinal<br>
occupation -> cat<br>
relationship -> cat<br>
race-> cat<br>
sex -> binary cat <br>
country -> cat<br>
hpw -> cont<br>
gain,loss -> cont <br>

In [9]:
cat_data = data.select_dtypes(include=['object']).copy()
cat_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 0 to 16280
Data columns (total 9 columns):
workclass       48842 non-null object
education       48842 non-null object
status          48842 non-null object
occupation      48842 non-null object
relationship    48842 non-null object
race            48842 non-null object
sex             48842 non-null object
country         48842 non-null object
target          48842 non-null object
dtypes: object(9)
memory usage: 2.0+ MB

In [10]:
data.describe()

,age,weight,education-num,gain,loss,hpw
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
for col in cat_data.columns:
    data[col] = data[col].astype('category')
    data[col] = data[col].cat.codes

In [12]:
train = data[:32561]
test = data[32560:]

In [13]:
corr = train.corr()
abs(corr>=0.3)

,age,workclass,weight,education,education-num,status,occupation,relationship,race,sex,gain,loss,hpw,country,target
age,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
workclass,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
weight,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
education,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
education-num,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
status,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
occupation,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
relationship,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
race,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
sex,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
gain,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
loss,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
hpw,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
country,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
target,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True

In [48]:
from sklearn.linear_model import LogisticRegression #logistic regression
from sklearn import metrics #accuracy measure
from sklearn import svm #support vector Machine
from sklearn.ensemble import RandomForestClassifier #Random Forest
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from sklearn.tree import DecisionTreeClassifier #Decision Tree

In [49]:
features = ['age', 'education-num', 'relationship', 'race', 'sex', 'gain', 'loss', 'hpw']
model = LogisticRegression()
model.fit(train[features],train['target'])
preds1 = model.predict(test[features])
acc1 = metrics.accuracy_score(preds1,test['target'])
acc1*100

82.41002333865617

In [50]:
model=svm.SVC(kernel='rbf',C=1,gamma=0.1)
model.fit(train[features],train['target'])
prediction1=model.predict(test[features])

Accuracy for rbf SVM is  0.8241002333865618

In [52]:
print('Accuracy for rbf SVM is ',metrics.accuracy_score(prediction1,test['target'])*100)

Accuracy for rbf SVM is  84.65790443434467

In [ ]:
model=svm.SVC(kernel='linear',C=0.1,gamma=0.1)
model.fit(train[features],train['target'])
prediction2=model.predict(test[features])
print('Accuracy for linear SVM is',metrics.accuracy_score(prediction2,test['target'])*100)